<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
   
  
	<link rel="stylesheet" href="/css/main.css">

	<link rel="stylesheet" href="/chat.css">
	<link rel="stylesheet" href="/stylecss/bootstrap.min.css">
	 <script src="/js/jquery.min.js"></script>
	 <script src="/js/bootstrap.min.js"></script>
	 <script src="/js/moment.min.js"></script> 
</head>
